.scale-1 {
  scale: 1;
}

.scale-2 {
  scale: 2;
}

.scale-3 {
  scale: 3;
}

.scale-4 {
  scale: 4;
}

.scale-5 {
  scale: 5;
}

.scale-6 {
  scale: 6;
}

.scale-7 {
  scale: 7;
}

.scale-8 {
  scale: 8;
}

.scale-9 {
  scale: 9;
}

.scale-10 {
  scale: 10;
}

.zoom-1 {
  zoom: 1;
}

.zoom-2 {
  zoom: 2;
}

.zoom-3 {
  zoom: 3;
}

.zoom-4 {
  zoom: 4;
}

.zoom-5 {
  zoom: 5;
}

.zoom-6 {
  zoom: 6;
}

.zoom-7 {
  zoom: 7;
}

.zoom-8 {
  zoom: 8;
}

.zoom-9 {
  zoom: 9;
}

.zoom-10 {
  zoom: 10;
}
